# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt
.vs/kody/project-colors.json
.vs/kody/v17/.suo
.vs/kody/v17/Browse.VC.db
.vs/kody/v17/Browse.VC.db-shm
.vs/kody/v17/Browse.VC.db-wal
.vs/kody/v17/Browse.VC.opendb
.vs/kody/v17/ipch/AutoPCH/1a1dbc44622fc0dc/ŹRÓDŁO.ipch
.vs/kody/v17/ipch/AutoPCH/2c045601af38bc8e/MATRIX.ipch
.vs/kody/v17/ipch/AutoPCH/84de71cac81568fc/SOLUTION.ipch
.vs/kody/v17/ipch/AutoPCH/8c8ea088d73feb6d/ŹRÓDŁO.ipch
Debug/kody.exe.recipe
Debug/kody.ilk
Debug/kody.log
Debug/kody.pdb
Debug/kody.tlog/CL.command.1.tlog
Debug/kody.tlog/CL.read.1.tlog
Debug/kody.tlog/CL.write.1.tlog
Debug/kody.tlog/kody.lastbuildstate
Debug/kody.tlog/link.command.1.tlog
Debug/kody.tlog/link.read.1.tlog
Debug/kody.tlog/link.write.1.tlog
Debug/vc143.idb
Debug/vc143.pdb
Debug/źródło.obj.enc
kody.sln
kody.vcxproj
kody.vcxproj.filters
kody.vcxproj.user
